*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{width:100vw;}

.container{margin-top: 40px;}

.nevbar{
    
    margin: auto;
    width: 60%;
    padding: 10px;
    height: 50px;
    border: 1px solid black;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    ;
}

.left{
    /* background-color: aquamarine; */
margin-top: 5px;
display: flex;
flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1
    
}

.fa-brands{font-size: 20px;}


h1{
    font-size: 20px;
}



.search{
    
    /* background-color: blue; */
display: flex;
flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1
}




.profile{
    margin-top: 5px;
    /* background-color: aquamarine;    */
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1
}


.box1{
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction:row;
    
}

.th{font-size: 10px;}

.fa-youtube{
    color: red;
    margin-left:20px;}

.fa-bars{margin-top: 2px;}


.box2{margin: auto;
    display: flex;
}


.tx{
    width: 500px;height: 30px;
    border-radius: 20px 0px 0px 20px;
 flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 1
}

.bt{
    margin-right:10px;
    width: 35px;height: 30px;
    border-radius: 0px 20px 20px 0px;
     flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: 1
    
    }

.mic{   
        padding: 6px;
        padding-right:20px;
        border-radius: 50%;
        background-color: rgb(207, 207, 207);
        border-color:1px solid rgb(0, 0, 0);
        width: 30px;
        height: 30px;}
.fa-microphone{position: absolute;right: 35.7%;}


.fa-magnifying-glass{position:absolute; top: 6.3%; right:38.2%;}

.box3{display: flex;  
    justify-content: end;
    margin-right: 20px;
    }

    

    .box3>*{margin-left: 20px;}


    .cyr{
        display: flex;
        justify-items: center;
        padding: 5px ;
        color: white;
        border-radius: 50%;
        background-color: rgb(236, 34, 68);
        border-color:1px solid rgb(0, 0, 0);
        width: 30px;
        height: 30px;}
        
.p9{margin: auto;}



    .cycle{ 
        position: absolute;
        top: 5.5%;right: 24%;
        font-size: 8px;
        color: white;
        border-radius: 10px;
        background-color: rgb(236, 34, 68);
        border-color:1px solid rgb(0, 0, 0);
        width: 15px;
        height: 10px;}

.pr{padding-left:1px ;
    margin: auto;
}
    